<div id="<%= dom_id comentario %>">
  <p>
    <strong>Conteudo:</strong>
    <%= comentario.conteudo %>
  </p>

  <p>
    <strong>Filme:</strong>
    <%= comentario.filme_id %>
  </p>

  <p>
    <strong>Aprovado:</strong>
    <%= comentario.aprovado %>
  </p>

</div>
