<p style="color: green"><%= notice %></p>

<h1>Comentarios</h1>

<div id="comentarios">
  <hr>
  <% @comentarios.each do |comentario| %>
    <%= render comentario %>
    <p>
      <%= link_to "Detalhes do Comentário", comentario %>
    </p>
    <hr>
  <% end %>
</div>

<%= link_to "Novo Comentário", new_comentario_path %>
