<div id="<%= dom_id atore %>">
  <p>
    <strong>Nome:</strong>
    <%= atore.nome %>
  </p>

  <p>
    <strong>Ano nascimento:</strong>
    <%= atore.ano_nascimento %>
  </p>

  <p>
    <strong>Emaisl:</strong>
    <%= atore.emaisl %>
  </p>

</div>
