<p style="color: green"><%= notice %></p>

<h1>Logs</h1>
<div id="logs">
  <hr>
  <% @logs.each do |log| %>
    <%= render log %>
    
    <p> Comentário para o filme:
    <%= log.comentario.filme.titulo %>
    </p>

    <p> Aprovado em: 
      <%= log.created_at.strftime('%d-%m-%Y') %>
    </p>
    <hr>
  <% end %>
</div>
